@import "_variables.scss";

@mixin stylesForButton() {
    color: $black;
    width: $widthOfButton;
    height: $heightOfButton;
    text-align: center;
    cursor: pointer;
    font-size: $fontSize;
    vertical-align: middle;
}

@mixin stylesForButtonHover() {
    background-color: $pink;
    color: $white;
}

@mixin widthOfDoubleButton {
    width: $widthOfButton + $widthOfButton;
}